<section class="home">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belanosima&display=swap" rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
    </style>
    <link rel="stylesheet" href="css/styles.css">
    <title>Administrador</title>
</head>

<body class="arena">
    <center><p id="bienvenidoAdministrador"style="color: black;">Bienvenido al administrador</p></center>
    <p style="color: black;">Aquí podrás agregar datos para contribuir a la diversidad de los modos de juegos</p>
  
  <div id="container-admin1">
    <p style="color: black;">Agregar datos al modo "Trivia"</p>
    <input style="color: black" type="text" id="pregunta" class="Minecraft" placeholder="Pregunta"> <br><br>
    <input style="color: black"type="text" id="respuesta" class="Minecraft" placeholder="Respuesta"> <br><br>
  </div>

  <div id="container-admin2">
    <p style="color: black;">Agregar datos al modo "Crafteo"</p>
    <input style="color: black" type="text" id="url" class="Minecraft" placeholder="Direccion de la imagen"> <br><br>
    <input style="color: black"type="text" id="palabra" class="Minecraft" placeholder="Nombre del item"> <br><br>
    <p style="color: black;"> Para la direccion de la imagen, el formato de enviado debe ser el siguiente " /img/picoHierro.jpg "</p>
    <p style="color: black;">Al terminar, por favor enviar la imagen a la carpeta de archivos 'public>img>' (favor de escribir bien la terminacion del archivo)</p>
  </div>

</body>
<script src="./js/admin.js"></script>