<head>
    <link rel="stylesheet" href="css/styles.css">
    <title>SpeedCraft - Modos</title>
</head>
<body background="img/dirt-background.webp">
    {{> header this}}
    <center><p class="Minecraft" id="Kuma">Elegí tu modo de juego</p></center>
    <div class="converti">
        <div class="solitario">
          <a href="/modoSolitario"><img src="img/solitario.png" id="solitario"></img></a>
          <a href="/modoSolitario"><img src="img/steve.webp" id="imagenSteve"></img></a>
        </div>
        <div class="multijugador"> 
            <a href="/partidas"><img src="img/multijugador.png"  id="multijugador"></img></a>
            <a href="/partidas"><img src="img/steveyalex.webp"  id="imagenAlex"></img></a>
        </div>
    </div>
</body>