<head>
    <link rel="stylesheet" href="css/styles.css">
    <title>SpeedCraft - Juegos</title>
</head>
<body background="img/dirt-background.webp">
    {{> header this}}
    <center><p class="Minecraft" id="Kuma">Elegí la modalidad de juego</p></center>
    <div class="converti">
        <div class="solitario">
          <a href="/elegirmodo"><img src="img/crafteos.png" id="solitario"></img></a>
          <a href="/elegirmodo"><img src="img/cofreTrampa.webp" id="cofreTrampa"></img></a>
        </div>
        <div class="multijugador"> 
            <a href="/elegirtrivia"><img src="img/trivia.png"  id="trivia"></img></a>
            <a href="/elegirtrivia"><img src="img/ovejafaso.gif"  id="ovejaFaso"></img></a>
        </div>
    </div>
</body>