<head>
    <link rel="stylesheet" href="css/styles.css">
    <title>SpeedCraft - Modos</title>
</head>
<body background="img/dirt-background.webp">
    {{> header this}}
    <center><p class="Minecraft" id="Kuma">Elegí tu modo de juego</p></center>
    <div class="converti">
        <div class="solitario">
          <a href="/trivia"><img src="img/preguntas.png" id="solitario"></img></a>
          <a href="/trivia"><img src="img/aldeanos.webp" id="imagenSteve"></img></a>
        </div>
        <div class="multijugador"> 
            <a href="/mobs"><img src="img/mobs.png"  id="multijugador"></img></a>
            <a href="/mobs"><img src="img/enderDragon.gif"  id="imagenAlex"></img></a>
        </div>
    </div>
</body>