<head>
    <link rel="stylesheet" href="css/styles.css">
    <title>SpeedCraft - Trivias</title>
</head>
<body background="img/dirt-background.webp">
    {{> header this}}
    <center><p class="Minecraft" id="Kuma">Elegí la modalidad de TRIVIA</p></center>
    <div class="converti">
        <div class="solitario">
          <a href="/mobs"><img src="img/mobs.png" id="fotoMobs"></img></a>
          <a href="/mobs"><img src="img/enderDragon.gif" id="enderDragon"></img></a>
        </div>
        <div class="multijugador"> 
            <a href="/trivia"><img src="img/preguntas.png"  id="fotoPreguntas"></img></a>
            <a href="/trivia"><img src="img/aldeanos.webp"  id="aldeanos"></img></a>
        </div>
    </div>
</body>