<form action="/partidas" method="RENDER" class="container-sm"></form>
<html lang="en">
    <head>
        <title>SpeedCraft - Espera</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <header class="tronco">
        <center><a href="/menu"><img src="img/SpeedCraft.png"  id="imagenHeader"></img></a></center>
     
    </header>
    <body background="img/maderita.jpg">
    <div id="Cargando">
        <p class="Minecraft">Cargando partida...</p><br>
        <p class="Minecraft">Buscando oponente</p><br>
    </div>
        <div id="Reglas-espera">
            <h2 class="Minecraft">Las reglas son las siguientes:</h2><br><br>
            <p class="Minecraft"> Debes adivinar el item que se craftea en la imagen, escribiendo el nombre del item. quien primero acierte, gana.</p>
        </div>

        <script>
            const a = new WebSocket("ws://localhost:3000");
            a.addEventListener("open", () => {
                console.log("Conectado");
            });
            
            
        </script>
    </body>

    </html>