<!-- https://es.scribd.com/document/356644566/Minecraft-y-todos-sus-Crafteos-pdf#fullscreen&from_embed -->
<head>
    <title>SpeedCraft - Guía</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<header class="cryObsidian">
  <center><a href="/menu"><img src="img/SpeedGuide.png"></img></a></center>
          <style>
            @import url('https://fonts.googleapis.com/css2?family=p&display=swap');
        </style>
     
</header>
<body background="img/fondoEND.webp">
  <div id="main-guide-container">
      <p style="color: black">SpeedCraft consiste en adivinar el producto obtenido tras mezclar ciertos items.</p><br><br>
      <p style="color: black">Contamos con dos modalidades de juego:</p><br>
      <div id="modosJuego" >
        <p style="color: black">*Solitario: en este modo de juego deberás adivinar el item en tan solo 3 intentos, no recibirás pistas ni ayudas, unicamente la imagen del crafteo. Al ganar recibirás 10 puntos que te serviran para alcanzar el top</p><br>
        <p style="color: black">*Multijugador: aqui te enfrentaras a otro jugador en un 1V1, aquel que adivine el item mas rapidamente sera el vencedor de la ronda. Cada partida consistira en 3 rondas.</p>
      </div>
  </div>
</body>