<!-- https://es.scribd.com/document/356644566/Minecraft-y-todos-sus-Crafteos-pdf#fullscreen&from_embed -->
<head>
    <title>SpeedCraft - Guía</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<header class="biblioteca">
  <center><a href="/menu"><img src="img/SpeedGuide.png"></img></a></center>
          <style>
            @import url('https://fonts.googleapis.com/css2?family=p&display=swap');
        </style>
     
</header>
<body background="img/maderita.jpg">
    
</body>