<section class="home">

  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belanosima&display=swap" rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
    </style>
    <link rel="stylesheet" href="css/styles.css">
    <title>SpeedCraft - Home</title>
  </head>

  <body background="img/dirt-background.webp">
    {{> header this}}
    <div class="container">

      <div class="mb-3 form-group">
        <center>
          <h2 id="bienvenido" class="Minecraft">Bienvenido</h2>
        </center>
        <div id="textoHome">
          <center>
            <p class="Minecraft" id="textoHome">Speedcraft es un juego en solitario o multijugador en el que debes construir el item
              proporcionado en la menor cantidad de tiempo posible.</p>
          </center>
          <img id="creeperInicio" src="img/creeperInicio.png">
        </div>
        <div id="eleccion">
          <center><a href="/elegirmodo"><img src="img/jugar2.png"  id="botonJugarMenu"></img></a></center>
        </div>
      </div>
    
  </body>
  
    

  </div>
</section>