<form action="/leaderboard" method="RENDER" class="container-sm" id="index">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Belanosima&display=swap" rel="stylesheet">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
        </style>
        <link rel="stylesheet" href="css/styles.css">
        <title>SpeedCraft - Ranking</title>
    </head>
    <header class="lanaRoja">
        <center><a href="/menu"><img src="img/SpeedRank.png"></img></a></center>
                <style>
                    @import url('https://fonts.googleapis.com/css2?family=p&display=swap');
                </style>
            
    </header>
    <body background="img/fondoPiedra.jpg">
        <div class="top-container">

        </div>
    <script src="./js/ranking.js"></script>
    </body>
</form>
<script>
    inicio()
</script>

