<div class="fondoPeruano">
    <div>
        <div class="tituloLogin">
            <h1 class="Minecraft">Login</h1>
        </div>
        <div>
            <input type="text" id="user" class="Minecraft" placeholder="Usuario"> <br>
            <input style="margin-bottom: 35px;" type="password" id="pass" class="Minecraft" placeholder="Contraseña"> <br>
            <button id="btn" class="Minecraft">Iniciar</button> 
        </div>
        <div>
            <img src="img/Ghast.webp"  id="ghastLogin"></img>
        </div>
        <div>
            <a href="/register" class="Minecraft" class="blanco">¿No tenes cuenta?</a>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>