<!-- login.handlebars -->
<h1 id="iniciarSesion" class="Minecraft">Iniciar sesion</h1>
<head>
  <link rel="stylesheet" href="css/styles.css">
  <title>SpeedCraft - Login</title>
</head>
<body id="bodyLogin" background="img/fondoObsidiana.jpg">
  <form action="/login" method="post">
    <div class="Minecraft" id="botonesLogin">
      <center>
      <div class="Minecraft">
      <input type="email" name="email" placeholder="Correo electronico" required /><br><br>
      <input type="password" name="password" placeholder="Contraseña" required /> <br><br>
      <button type="submit">Iniciar sesion</button>
      <div class="Minecraft">{{message}}</div>
      </div>
      </center>
      <img id="ghastLogin" src="img/Ghast.webp">
    </div>
    
  </form>
  
  <center><p id="noTenes"class="Minecraft">¿No tenes una cuenta? registrate <a href="/register" class="Minecraft">aca</a></p></center>
</body>
