<div class="fondoPeruano">
    <div>
        <div class="tituloLogin">
            <h1 class="Minecraft">Login</h1>
        </div>
        <div>
            <input type="text" id="user" placeholder="Usuario"> <br>
            <input style="margin-bottom: 35px;" type="password" id="pass" placeholder="Contraseña"> <br>
            <button id="btn">Iniciar</button> 
        </div>
        <div>
            <a href="/register" class="blanco">¿No tenés cuenta?</a>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>