<head>
    <title>SpeedCraft - Login</title>
</head>
<body style="background-image: url('/img/fondoObsidiana.jpg');">

    <div class="left-log-container">
        <div class="container-login">
            <div class="tituloLogin">
                <h1 class="Minecraft">Login</h1>
            </div>
            <center></center><div id="div-login">
                <div class="container-input-login" >
                    <input style="color: black" type="text" id="user" class="Minecraft" placeholder="Usuario"> <br><br>
                    <input style="color: black"type="password" id="pass" class="Minecraft" placeholder="Contraseña"> <br><br>
                    <button id="btn" class="Minecraft" style="color:black">Iniciar</button> <br><br>
                    <img src="img/Ghast.webp"  id="ghastLogin"></img><br>
                    <a href="/register" class="Minecraft" class="blanco" id="noTenes" >¿No tenes cuenta?</a> <br><br>
                </div><br><br>
                <div id="Boton-y-NoTenes">
                    
                    
                </div>
            </div></center>
            
        </div>
    </div>
</body>

<script src="/js/login.js"></script>