<head>
    <link rel="stylesheet" href="css/styles.css">
    <title>SpeedCraft - Menú</title>
</head>
<body background="img/dirt-background.webp">
    <center><p class="Minecraft" id="Kuma">¿A donde desea ir?</p></center>
    <center><a href="/elegirjuego"><img src="img/jugar.png"  id="imagenesMenu"></img></a></center>
    <center><a href="/chat"><img src="img/chat.png"  id="imagenesMenu"></img></a></center>
    <center><a href="/leaderboard"><img src="img/ranking.png"  id="imagenesMenu"></img></a></center>
    <center><a href="/guia"><img src="img/guia.png"  id="imagenesMenu"></img></a></center>
    <center><a href="/home"><img src="img/volverMenu.png"  id="imagenesMenu"></img></a></center>
    <center><a href="/login"><img src="img/logout.png"  id="imagenesMenu"></img></a></center>
</body>