<body style="background-image: url('/img/fondoObsidiana.jpg');">
        <div class="container-register">
            <div class="title-register">
                <h1 class="Minecraft">REGISTER</h1>
            </div>
            <div >
                <input style="color: black" type="text" id="name" class="Minecraft" placeholder="Nombre"> <br><br>
                <input style="color: black" type="text" id="user" class="Minecraft" placeholder="Usuario"> <br><br>
                <input style="color: black" type="password" id="pass" class="Minecraft" placeholder="Contraseña"> <br><br>
                <input style="color: black" style="margin-bottom: 35px;" type="password" id="passconfirm" class="Minecraft" placeholder="Confirmar Contraseña"><br> 
                <button id="btn" class="Minecraft" style="color: black">REGISTRATE</button> 
            </div>
            <div>
                <a href="/" class="Minecraft" id="yaTenes">¿Ya tenes cuenta?</a>
            </div>
        </div>
        <img src="img/magmacube.gif"  id="magmaRegistro"></img>
</body>
<script src="/js/register.js"></script>