
<div class="fondoPeruano">
    <div class="tituloLogin">
        <div style="height: 60%;" >
            <div style="height: 20%; padding-left: 30px;" class="title-login">
                <h1 class="Minecraft">REGISTER</h1>
            </div>
            <div style="height: 65%;">
                <input type="text" id="name" class="Minecraft" placeholder="Nombre"> <br>
                <input type="text" id="user" class="Minecraft" placeholder="Usuario"> <br>
                <input type="password" id="pass" class="Minecraft" placeholder="Contraseña"> <br>
                <input style="margin-bottom: 35px;" type="password" id="passconfirm" class="Minecraft" placeholder="Confirmar Contraseña"><br> 
                <button id="btn">REGISTRATE</button> 
            </div>
            <div>
                <img src="img/magmacube.gif"  id="magmaRegistro"></img>
            </div>
            <div style="height: 15%; ">
                <a href="/" class="Minecraft" class="blanco">¿Ya tenes cuenta?</a>
            </div>
        </div>
    </div>
</div>
<script src="/js/register.js"></script>