<section class="home">

  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Belanosima&display=swap" rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
    </style>
    <link rel="stylesheet" href="css/styles.css">
    <title>SpeedTime</title>
  </head>
  <body onLoad="mueveReloj()" background="img/dirt-background.webp">
    <header class="header">
      <center><a href="/menu"><img src="img/SpeedCraft.png"  id="imagenHeader"></img></a></center>
    </header>
       <div id="relojAnalogico" class="reloj"></div>
  </body>
  <script src="./js/reloj.js">
  </script>
  </div>
</section>