<form action="/trivia" method="RENDER" class="container-sm"></form>
    <html lang="en">
    <head>
        <title>SpeedCraft - Trivia</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <header class="hojas">
        <center><a href="/menu"><img src="img/SpeedCraft.png"  id="imagenHeader"></img></a></center>
            
            <div class="mb-3 form-group" id="boton_単ord単e_volver">
                <a href="/elegirmodo" style="color: white">Volver</a>
            </div>
     
    </header>
    <body class="tronco">
        <div id="question-container">
        </div>
        <div id="単ord単e123">
            <main class="main-game-container">
                <div class="row" id="1">
                </div>
            </main>

            <div class="result">
            </div>
            
        </div>
        <script src="./js/trivia.js"></script>
    </body>

    </html>

</form>
<script>
    inicio()
</script>