*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  -webkit-box-sizing: border-box;
}

p{
  margin: 0;
  font-family: 'Minecraft', Arial, Verdana, sans-serif;
  font-size:25px;
  color: white;
}

@font-face {
  font-family: 'Minecraft';
  src: url('public/fonts/Minecraft.eot')
}

.Minecraft {
  font-family: 'Minecraft', Arial, Verdana, sans-serif;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: white;
}


.header {
  width: 100%;
  height: 10vh;
  color: black;
  text-align: center;
  font-family: 'Belanosima', sans-serif;
  text-transform: uppercase;
  background-image: url('/img/pasto.png');
  background-size: 60vh;
}

.biblioteca{
  background-image: url('/img/biblioteca.jpg');
  background-size: 32vh;
  height: 10vh;
}

.alfombra{
  background-image: url('/img/fondoRanking.jpg');
  background-size: 28vh;
  height: 10vh;
}

.tronco{
  background-image: url('/img/fondoTronco.jpg');
  background-size: 15vh;
  height: 10vh;
}

.lanaRoja{
  background-image: url('/img/lanaRoja.jpg');
  background-size: 15vh;
  height: 10vh;
}

.hojas{
  background-image: url('/img/hojas.png');
  background-size: 15vh;
  height: 10vh;
}
.arena{
  background-image: url('/img/arena.png');
  background-size: 15vh;
  height: 10vh;
}


#creeperInicio {
  width: 500px;
  height: 350px;
  margin-left: 4vw;
  margin-top: 6svh;
  -webkit-user-drag: none;
}

#bienvenido {
  margin-top: 45px;
  font-size: 50px;
  color: white;
}

#textoHome {
  height: 10%;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5vw;
}

#eleccion{
  margin-top: 10vh;
  font-size: 70px;
}


#botonesLogin{
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 70px;
  color: black;
  -webkit-user-drag: none;
}

#botonesRegistro{
  margin-top: 50px;
  margin-left: 30px;
  -webkit-user-drag: none;
}

#iniciarSesion{
  margin-top: 80px;
  margin-left: 30px;
  font-size: 60px;
}

#registrarse{
  margin-top: 80px;
  margin-left: 30px;
  font-size: 40px;
}

#yaTenes{
  margin-top: 120px;
  font-size: 20px;
}

#div-login{
  display: flex;
  width: 100vh;
  justify-content: flex-start;
}

#user{
  border-radius: 20px;
  display: flex;
  width: auto;
  padding: 12px;
}

#pass{
  border-radius: 20px;
  display: flex;
  width: auto;
  padding: 12px;
}

#noTenes{
  margin-top: 120px;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 0;
}

#Kuma{
  margin-top: 10vh;
  font-size: 40px;
}

#imagenesMenu{
  margin-top: 25px;
  height: 10vh;
  width: 23vw;
  -webkit-user-drag: none;
}

#salas{
  margin-left: 30px;
  align-content: right;
  width: 30%;
}

#chat{
  margin-top: 25px;
  width: 70%;
}

.contactos{
  height: 100vh;
  width: 30vw;
  background-image: url('/img/piedrita.jfif');
  overflow-y: scroll;
}



.contacto{
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/img/maderita.jpg');
  border-top: solid black 3px;
  border-bottom: solid black 3px;
  margin-bottom: 5px;
  margin-top: 5px
}

.chat{
  height: 100vh;
  width: 70vw;
  background-color: pink;
}

.mensajes{
  height: 80%;
  background-image: url('/img/dirt-background.webp');
  width: 100%;
  background-color: red;
  overflow-y: scroll;
}

.input-msg{
  background-image: url('/img/dirt-background.webp');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  font-family: 'Minecraft', Arial, Verdana, sans-serif;
}

.container-contactos{
  height: 90vh;
  display: flex;
}

.mensaje{
  background-image: url('/img/dirt-background.webp');
  display: flex;
  justify-content: left;
  align-items: center;
  height: 10%;
  width: auto;
  background-color: grey;
}

.mensaje-in{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-left: 20px;
  height: 10px;
  padding: 20px;
  background-color: green;
}

#aux69{
  height: 40px;
  width: 120vh;
  font-size: 25px;
}

#headerChat{
  background-image: url('/img/fondoLadrilloPiedra.jpg');
}

#ghastLogin{
  height: 440px;
  width: 400px;
  margin-left: 30vw;
  margin-right: 10vh;
  -webkit-user-drag: none;
  flex-grow:1;
  position: fixed;
  margin-top: -150px;
}

#magmaRegistro{
  height: 430px;
  width: 180px;
  margin-left: 30vw;
  margin-right: 10vh;
  -webkit-user-drag: none;
  flex-grow:1;
  position: fixed;
}

#imagenSteve{
  display: flex;
  height: 40vh;
  width: 16vw;
  margin-left: 50px;
  -webkit-user-drag: none;
}

#imagenAlex{
  display: flex;
  height: 40vh;
  width: 23vw;
  margin-left: 60px;
  -webkit-user-drag: none;
}

#cofreTrampa{
  display: flex;
  height: 33vh;
  width: 16vw;
  margin-left: 5vw;
  -webkit-user-drag: none;
}

#ovejaFaso{
  display: flex;
  height: 35vh;
  width: 16vw;
  margin-left: 10vw;
  -webkit-user-drag: none;
}

#solitario{
  margin-top: 15vh;
  margin-bottom: 2vh;
  height: 8vh;
  width: 27vw;
  -webkit-user-drag: none;
}
#multijugador{
  margin-top: 15vh;
  margin-bottom: 2vh;
  height: 8vh;
  width: 35vw;
  -webkit-user-drag: none;
}

.solitario{
  margin-left: 10vw;
  margin-right: 8vw;
}

.multijugador{
  margin-right: 14vw;
  margin-left: 8vw;
}

.converti{
  display: flex;
}

#botonJugarMenu{
  height: 10vh;
  width: 18vw;
  -webkit-user-drag: none;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
  font-weight: 500;
}

a{
  text-decoration: none;
  color: black;
}

.left-container::-webkit-scrollbar {
  display: block;
  width: 5px;  
}

#trivia{
  margin-top: 15vh;
  margin-bottom: 2vh;
  height: 8vh;
  width: 20vw;
  -webkit-user-drag: none;
  margin-left: 7.23vw;
}

/* CHAT */


.logout{
  height: 42px;
  cursor: pointer;
}

.logo{
  font-weight: 700;
  cursor: pointer;
  color: white;
}

.contenedorRaro{
  width: 100%;
  height: 91vh;
  display: flex;
  flex-direction: row;
  background-image: url('/img/dirt-background.webp'); 
}

.contenedorChat{
  height: 91vh;
  width: 79%;
  display: flex;
  flex-direction: column;
}

.contenedorMensajes{
  height: 80vh;
  width: 79%;
  display: flex;
  flex-direction: column;
}

.contenedorFinal{
  height: 11vh;
  width: 79%;
  display: flex;
  flex-direction: row;
}

.left-container{
  background-image: url('/img/fondoPiedra.jpg'); 
  width: 21%;
  height: 100%;
  overflow-y: scroll;
  border-right: url('/img/maderita.jpg'); 
}

.right-container{
  width: 100%;
  height: 100%;
  background-color: black;
}

.mid-container{
  width: 100%;
  height: 100%;
}

.mid{
  width: 100%;
  height: 78.9%;
  background-image: url('/img/image1.png');
  background-color: #0b141a;
  overflow-y: scroll;
  padding-top: 15px;
  padding-bottom: 25px;
}

.temp{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202c33;
}

.temp p{
  color: white;
  font-size: 30px;
  margin-top: 80px;
  font-weight: 300;
  text-align: center;
}

.chat-name{
  background-color: #131d24;
  color: white;
  height: 11.1%;
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-size: 21px;
  width: 100%;
}

.chat-name svg{
  height: 50px;
  padding-right: 15px;
}

.bottom{
  background-color: #202c33;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom button{
  display: flex;
  background-color: #131d24; 
  border:none; 
  border-radius: 100%;
  padding: 13px;
  cursor: pointer;
}

.msg{
  width: 80%;
  outline:none;
  height: 55%;
  border-radius: 10px;
  margin-right: 30px;
  border: none;
  color: white;
  font-size: 18px;
  padding-left: 17px;
  background-color: #2a3942;
  font-weight: 400;
}

.msg::placeholder{
  color: #8696a0;
}

.msg-img{
  height: 50px;
  background-color: white;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
}

.btn{
  border-radius: 100%;
  font-size: 30px;
  border: none;
  cursor: pointer;
  color: black;
  padding: 70%;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  text-shadow: 1px 1px 15px;
  padding: 30px 40px;
  border: solid 1px;
  text-decoration: none;
  width: 100%;
  height: 10%;
}

.chat{
  display: flex;
  align-items: center;
  height: 10%;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  background-color: #131d24;
  border-bottom: solid rgba(128, 128, 128, 0.3) 1px;
  font-size: 21px;
  padding-left: 15px;
  color: white;
  cursor: pointer;
}

.chat > *{
  pointer-events:none;
}

.chat:hover{
  background-color: #2b3b44;
}

.chat svg{
  pointer-events:none;
  height: 50px;
  width: 50px;
  border-radius: 90%;
  margin-right: 20px;
}



.point{
  border-radius: 100%;
  background-color: #00a884;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 13px;
}

.container-msg-right{
  margin-bottom: 15px;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 40px;
}

.container-msg-right > *{
  background-color: #085c4c;
  color: white;
}

.container-msg-left{
  margin-bottom: 15px;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 40px;
}

.container-msg-left > *{
  background-color: #2b3b44;
  color: white;
}





/* CHAT */

.logout{
  height: 42px;
  cursor: pointer;
}

.logo{
  display: flex;
  font-weight: 700;
  cursor: pointer;
  color: white;
  align-items: center;
}

.container-chat{
  width: 100%;
  height: 91vh;
  display: flex;
  background-color: pink;
}

.left-container{
  background-image: url('/img/fondoLadrilloPiedra.jpg');
  width: 21%;
  height: 100%;
  overflow-y: scroll;
  border-right: url('/img/fondoPiedra.jpg') 2px;
}

#imagenSalir{
  display: flex;
  height: 8vh;
  width: 4vw;
  align-items: right;
}


.right-container{
  width: 100%;
  height: 100%;
  background-color: white;
}

.mid-container{
  width: 100%;
  height: 100%;
}

.mid{
  width: 100%;
  height: 78.9%;
  background-image: url('/img/maderita.jpg');
  background-color: #0b141a;
  overflow-y: scroll;
  padding-top: 15px;
  padding-bottom: 25px;
}

.temp{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/img/fondoTemp.jpg');
}

.temp p{
  color: white;
  font-size: 45px;
  margin-top: 30px;
  font-weight: 300;
  text-align: center;
}

.chat-name{
  background-image: url('/img/fondoTronco.jpg');
  color: black;
  height: 11.1%;
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-size: 21px;
  width: 100%;
}

.chat-name svg{
  height: 50px;
  padding-right: 15px;
}

.bottom{
  background-image: url('/img/fondoTronco.jpg');
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom button{
  display: flex;
  background-color: #131d24; 
  border:none; 
  border-radius: 100%;
  padding: 13px;
  cursor: pointer;
}

.msg{
  width: 80%;
  outline:none;
  height: 55%;
  border-radius: 10px;
  margin-right: 30px;
  border: none;
  color: white;
  font-size: 18px;
  padding-left: 17px;
  background-color: #2a3942;
  font-weight: 400;
}

.msg::placeholder{
  color: #8696a0;
}

.msg-img{
  height: 50px;
  background-color: white;
  border-radius: 100%;
  padding: 5px;
  cursor: pointer;
}

.btn{
  border-radius: 100%;
  font-size: 30px;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.chat{
  display: flex;
  align-items: center;
  height: 10%;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  background-image: url('/img/maderita.jpg');
  margin-bottom: 1vh;
  border-bottom: solid rgba(128, 128, 128, 0.3) 1px;
  font-size: 21px;
  padding-left: 15px;
  color: white;
  cursor: pointer;
}

.chat > *{
  pointer-events:none;
}

.chat:hover{
  background-color: #2b3b44;
}

.chat svg{
  pointer-events:none;
  height: 50px;
  width: 50px;
  border-radius: 90%;
  margin-right: 20px;
}



.point{
  border-radius: 100%;
  background-color: #00a884;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 13px;
}

.container-msg-right{
  margin-bottom: 15px;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 40px;
}

.container-msg-right > *{
  background-image: url('/img/fondoAbedul.png');
  color: white;
}

.container-msg-left{
  margin-bottom: 15px;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 40px;
}

.container-msg-left > *{
  background-image: url('/img/fondoMaderaOscura.png');
  color: white;
}

.message{
  border-radius: 20px;
  display: flex;
  width: auto;
  padding: 12px;
  -webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.70);
  -moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.70);
  box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.70); 
}

.blanco{
  color: black;
}

#speedChat{
  margin-left: 32vw;
  margin-right: 25vw;
}

/* REGISTRO */

.title-register{
  font-size: 30px;
  margin-bottom: 10vh;
}

.container-register{
  margin-left: 20vw;
  margin-top: 5vh;
}

/* LOGIN */

.left-log-container{
  width: 21%;
  height: 100%;
}

.right-log-container{
  width: 100%;
  height: 100%;
}

.fondoPeruano{
  display: flex;
  height: 100%;
  background-image: url('/img/fondoObsidiana.jpg');
  background-color: #141414;
  justify-content: center;
  align-items: center;
}

.container-login-mini{
  display: flex;
  flex-direction: column;
  height: 40%;
  background-color: white;
  width: 25%;
  border-radius: 30px;
  -webkit-box-shadow: 0px 1px 17px 8px rgba(0,0,0,0.66);
  -moz-box-shadow: 0px 1px 17px 8px rgba(0,0,0,0.66);
  box-shadow: 0px 1px 17px 8px rgba(0,0,0,0.66);
}

.tituloLogin {
  display: flex;
  justify-content: left;
  margin-bottom: 5vh;
  padding-left: 40px;
  align-items: left;
  font-size: 40px;
  text-align: left;
}

.container-input-login{
  text-align: center;
  margin-top: 10vh;
  margin-left: 70vh;
}



.inputs-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.inputs-login input{
  background-color: transparent;
  border: none;
  border-bottom: solid black 2px;
  width: 70%;
  height: 20%;
  outline: none;
  padding: 0 35px 10px 5px;
  color: black;
  margin-bottom: 30px;
  font-size: 1.4rem;
}



.inputs-login button {
  background-color: black;
  color: white;
  width: 60%;
  outline: none;
  font-size: 30px;
  padding: 10px 0 10px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.1s;
}

.inputs-login button:hover{
  font-size: 1.05rem;
  background-color: rgb(136, 136, 136);
  padding: 12px 0 12px 0;
  width: 65%;
  color: black;
}

.no-tenes-cuenta{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.no-tenes-cuenta a{
  color: black;
  transition: 0.1s;
  font-size: 1rem;
}

.no-tenes-cuenta a:hover{
  font-size: 1.05rem;
}

#tablaPuntaje{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
  text-align: center;
  font-size: 32px;
}

#boton_puntaje_logout {
  width: 200px;
  text-align: left;
  position: fixed;
  top: 0;
  right: 2;
  display: flex;
  align-items: flex-end;
  margin: 10px;
  margin-left: 200px; 
  font-size: 30px;
  font-family: 'Belanosima', sans-serif;
}

#modoJuego{
  display: flex;
  text-align: right;
  position: fixed;
  top: 0;
  right: 0.5;
  left: 5;
  align-items: flex-end;
  margin-top: 10px;
  font-size: 30px;
}




/* ------------- GAME ------------- */

.main-game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.square{
  font-family: 'Minecraft', Arial, Verdana, sans-serif;
  width: 40px;
  height: 40px;
  border: none;
  background-color: black;
  outline: none;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.result{
  text-align: center;
  font-size: 36px
}

.gray{
  background-color: grey;
}

.gold{
  background-color: #c9b458;
}
.green{
  background-image: url('/img/texturaDiamante.jpg');
}
.red{
  background-color: red;
}

.luckyBlock{
  background-image: url('/img/luckyBlock.webp');
}


#ñordñe123{
  margin-top: 20vh;
}

#boton_ñordñe_volver{
  margin-top: 2vh;
  margin-left: 2vw;
  font-size: 30px;
  padding: 10px 0 10px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.1s;
}

.relatedImage{
  height: 25vh;
  width: 19vw;
  margin-bottom: 24vh;
  margin-left: 7vw;
}

#game-button{
  font-size: 30px;
  font-family: 'Minecraft', Arial, Verdana, sans-serif;
  margin-top: 10vh;
}


/* ------------- PUNTAJE ------------- */

#tablaPuntaje{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
  text-align: center;
  font-size: 32px;
}


/* ------------- GUÍA ------------- */

#modosJuego{
  margin-left: 5vw;
}

#main-guide-container{
  margin-top: 3vh;
  margin-left: 2vw;
}

/* ------------- MULTIPLAYER ------------- */

.message-container {
  background: #8e7967;
  color: white;
  text-align: center;
  padding: 1em;
  margin: 1em;
  font-weight: bold;
  font-size: 1.2em;
}



/* ------------- TRIVIA ------------- */

.relatedQuestion{
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-top: 10vh;
}

/* ------------- ADMIN ------------- */

#bienvenidoAdministrador{
  font-size: 45px;
  margin-top: 1vh;
  margin-bottom: 10vh;
}

#container-admin1{
  margin-top: 8vh;
}

#container-admin2{
  margin-top: 8vh;
}

/* API */

.reloj{
  position:absolute;
  left: calc(50% - 300px);
  top: calc(50% - 300px);
  width: 600px;
  height: 600px;

}